HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn
!**/src/main/**
!**/src/test/**
/src/main/java/pl/skrzypekjan/weatherapp/config/ApiConfig.java

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.mvn
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
