<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>WeatherMapApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<nav class="navbar navbar-default" style="background-image:
url(https://lh3.googleusercontent.com/proxy/i_NrvnZ70hPQNnhRj5bMbcOZSqtFUvc3RF4IluXuJVVJ8ROTzA-yzxnSKOU1fq_-sllYv1tS0dq7KCkhcm7fCEaknerOjpffmNGv8FlyoDTcKp4mOgEJeRvyAQqnscdHPejD); background-size:cover;">
    <div class="container-fluid">
        <div class="navbar-header" >
            <br>
            <h2 style="display: inline">WeatherMapApp</h2>
            <h2 style="display: inline" th:text="${weather.getName()}"></h2>
        </div>
        <div class="form-inline" style="clear: both">
            <div class="form-group">
                <label for="city">Check the weather in your city:</label>
                <br>
                <input type="text" class="form-control" id="city" style="max-width: 200px; float: left">
                <button type="button" class="btn btn-primary" style="float: left">Search</button>
            </div>
        </div>
        <br>
        <hr style="clear: both; height: 3px; background: white">
    </div>
</nav>
<div class="container-fluid">
<!--        <p th:text="${weather.getName()}" />-->
<!--        <p th:text="${weather.getCoord().getLat()}" />-->
<!--        <p th:text="${weather.getCoord().getLon()}" />-->
    <div id="mapid" style="height: 695px"></div>

</div>

<script th:inline="javascript">


    // var map = L.map('mapid').setView([54.35, 18.64], 5);
    var map = L.map('mapid').setView([49.59, 17.25], 5);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([54.35, 18.64]).addTo(map)
        .bindPopup("My city!")

</script>
</body>
</html>
