<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>WeatherMapApp</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>
<body>
<div id="wrapper">
    <header>
        <nav class="navbar navbar-default" style="background-image:url(https://i.pinimg.com/originals/6d/df/89/6ddf89a95cc31286387b11c64c1991a8.jpg); background-size:cover; max-height: 25%">
            <div class="container-fluid">
                <div class="navbar-header" >
                    <br>
                    <h2 style="display: inline">WeatherMapApp</h2>
                    <h2 style="display: inline" th:text="${weather.getName()}"></h2>
                </div>
                <div class="form-inline" style="clear: both">
                    <div class="form-group">
                        <form method="post">
                            <label>Check the weather in your city:</label>
                            <br>
                            <input type="text" class="form-control" name="city" style="max-width: 200px; float: left">
                            <button type="submit" class="btn btn-primary" style="float: left">Search</button>
                        </form>
                    </div>
                </div>
                <br>
                <hr style="clear: both; height: 3px; background: white">
            </div>
        </nav>
    </header>
    <div class="container-fluid">
<!--                <p th:text="${weather.getClouds().getAll()}" />-->
        <div id="mapid" style="max-height: 60%; height: 664px"></div>
    </div>
    <br>
    <footer>
        <div class="container-fluid" style="max-height: 15%; background-image:url(https://i.pinimg.com/originals/6d/df/89/6ddf89a95cc31286387b11c64c1991a8.jpg); background-size:cover; text-align: center;" >
            <p> All Rights Reserved 2020 Github <a href="https://github.com/skrzypekjan/weather-map">skrzypekjan</a></p>
        </div>
    </footer>
</div>


<script th:inline="javascript">

    var lat = [[${weather.getCoord().getLat()}]];
    var lon = [[${weather.getCoord().getLon()}]];
    var name = [[${weather.getName()}]];
    var temp = [[${weather.getMain().getTemp()}]];
    var wind = [[${weather.getWind().getSpeed()}]];
    var cloud = [[${weather.getClouds().getAll()}]];
    var img = [[${weather.getWeather().get(0).getIcon()}]];
    var desc = [[${weather.getWeather().get(0).getDescription()}]];
    var src = '<img src="http://openweathermap.org/img/wn/' + img + '@2x.png" />';

    var map = L.map('mapid').setView([ lat, lon ], 9);

    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker([ lat, lon]).addTo(map)
        .bindPopup("<p> City: " + name + "<br> Temperature: " + temp + " °C" + "<br> Wind speed: " + wind + " m/s" +
        "<br>" + src + "<br> Description: " + desc + "<br> Cloudiness: " + cloud + " %" + "</p><style>p{text-align: center;}</style>").openPopup();

</script>
</body>
</html>
